.json-tree {
  list-style-type: none;  
  padding: 0 1.5em;
  margin: 0;

  li {
    padding: 0.3em 0;
    cursor: pointer;
  }

  .open:before {
    content: '-';
    width: 1em;
  }    

  .close:before {
    content: '+';
    width: 1em;
  }  
}